# You must first activate a Billing Account here: https://platform.openai.com/account/billing/overview
# Then get your OpenAI API Key here: https://platform.openai.com/account/api-keys
OPENAI_API_KEY=XXXXXXXX

# Update these with your Supabase details from your project settings > API
# https://app.supabase.com/project/_/settings/api
# In local dev you can get these by running `supabase status`.
NEXT_PUBLIC_SUPABASE_URL=your-project-url
NEXT_PUBLIC_SUPABASE_ANON_KEY=your-anon-key
SUPABASE_SERVICE_ROLE_KEY=your-service-role-key

## Follow GitHub Oauth setup steps from Supabase,
## if you choose not to use Github, set first
## value to "false"
NEXT_PUBLIC_AUTH_GITHUB=false
AUTH_GITHUB_ID=XXXXXXXX
AUTH_GITHUB_SECRET=XXXXXXXX

# Update these with your Stripe credentials from https://dashboard.stripe.com/apikeys
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=pk_xxxxxxxxxx
STRIPE_SECRET_KEY=sk_xxxxxxxxx
STRIPE_WEBHOOK_SECRET=whsec_xxxxxxxx

# Update this with your Metaphor API key https://metaphor.systems
METAPHOR_API_KEY=XXXXXXXX
